.container {
   position: relative;
   text-align: center;
 }

 .text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 19vw;
   line-height: 1;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   text-decoration: drop;
   text-shadow: 2px 2px 4px #000000;
 }
 
