.imgLarge {
   margin: 5px;
   width: 50%;
   object-fit: cover;
}

.imgSmall {
   width: auto;
}

.card {
   width: 75%;
}

.bigContainer {
   width: 75%;
   margin-top: 1%;
}

.name {
   font-size: 50px;
}

.summary{
   font-size: 20px;
}

.bioTextLarge {
   margin-left: 5%;
}